# Employee Data

- employee_id
- first_name
- last_name
- phone_num
    - country_code
    - area_code
    - exchange_code
    - subscriber_number
- email_id
- address
    - street_name
    - unit_number
    - city
    - county
    - state
    - zip_code
    - extended_zip_code
        - sector
        - segment

In [1]:
# Import required modules/libraries
from pyspark.sql.types import (StructType, StructField, StringType, IntegerType)
from pyspark.sql import SparkSession, Row
from datetime import date, datetime
from pyspark.sql.functions import col, struct
import random

In [2]:
# Create a spark connection
spark = SparkSession.builder.appName("Employee Analysis").getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
26/01/03 15:34:20 WARN Utils: Your hostname, Pulastyas-Mac-mini.local, resolves to a loopback address: 127.0.0.1; using 10.0.0.133 instead (on interface en1)
26/01/03 15:34:20 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
26/01/03 15:34:22 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
#Employee Schema

extended_zip_code_schema = StructType([
    StructField("sector", IntegerType()),  # Example: 54
    StructField("segment", IntegerType()) # Example: 01
])

address_schema = StructType([
    StructField("street_name", StringType(), False),
    StructField("unit_number", StringType()),
    StructField("city", StringType(), False),
    StructField("county", StringType()),
    StructField("state", StringType(), False),
    StructField("zip_code", IntegerType(), False),
    StructField("extended_zip_code", extended_zip_code_schema) # Nesting the previous structure
])

phone_num_schema = StructType([                                 # e.g., 1 (555)-123-4567
    StructField("country_code", IntegerType(), False),          # e.g., "1"
    StructField("area_code", IntegerType(), False),             # e.g., "555"
    StructField("exchange_code", IntegerType(), False),         # e.g., "123"
    StructField("subscriber_number", IntegerType(), False)      # e.g., "4567"
])

employee_schema = StructType([
    StructField("employee_id", IntegerType(), False),
    StructField("dept_id", IntegerType(), False),    
    StructField("first_name", StringType(), False),
    StructField("middle_name", StringType()),
    StructField("last_name", StringType(), False),
    StructField("phone_num", phone_num_schema, False),         # Nested Phone Structure
    StructField("email_id", StringType(), False),
    StructField("address", address_schema, False)              # Nested Address Structure
])

In [4]:
# Department Schema

dept_schema = StructType([
    StructField("dept_id", IntegerType(), False),
    StructField("dept_name", StringType(), False),
    StructField("dept_head_emp_id", IntegerType(), False),
    StructField("loc_address", address_schema, False)
])

In [5]:
# Generate synthetic data

FIRST_NAMES = ["Alice", "Bob", "Charlie", "Diana", "Ethan", "Fiona", "George", "Hannah", "Ivy", "Jack"]
LAST_NAMES = ["Smith", "Jones", "Williams", "Brown", "Davis", "Miller", "Wilson", "Moore", "Taylor", "Anderson"]
CITIES = ["New York", "Chicago", "Boston", "Seattle", "Austin", "Denver"]
STATES = ["NY", "IL", "MA", "WA", "TX", "CO"]
DEPARTMENTS = [
    (10, "Engineering"),
    (20, "Sales"),
    (30, "HR"),
    (40, "Finance"),
    (50, "Marketing"),
]

In [6]:
# Create a list of department IDs that we will assign to employees
DEPT_IDS = [id for id, name in DEPARTMENTS]

In [7]:
def generate_address(city, state):
    """Generates a nested address Row consistent with address_schema."""
    zip_code_base = random.randint(10000, 99999)
    return Row(
        street_name=f"{random.randint(100, 999)} {random.choice(['Oak', 'Pine', 'Main'])} St",
        unit_number=random.choice([None, str(random.randint(1, 200))]),
        city=city,
        county=f"{city} County",
        state=state,
        zip_code=zip_code_base,
        extended_zip_code=Row(
            sector=random.randint(10, 99),
            segment=random.randint(10, 99)
        )
    )

In [8]:
dept_data = []
# Ensure each department gets a location
for dept_id, dept_name in DEPARTMENTS:
    city = random.choice(CITIES)
    state = STATES[CITIES.index(city)]
    
    # Generate a unique employee ID for the department head (ensuring it's not the same as a future employee ID)
    dept_head_emp_id = 1000 + dept_id
    
    dept_data.append(Row(
        dept_id=dept_id,
        dept_name=dept_name,
        dept_head_emp_id=dept_head_emp_id,
        loc_address=generate_address(city, state)
    ))

In [9]:
print(dept_data)

[Row(dept_id=10, dept_name='Engineering', dept_head_emp_id=1010, loc_address=Row(street_name='194 Main St', unit_number=None, city='Denver', county='Denver County', state='CO', zip_code=88583, extended_zip_code=Row(sector=34, segment=47))), Row(dept_id=20, dept_name='Sales', dept_head_emp_id=1020, loc_address=Row(street_name='110 Pine St', unit_number=None, city='Chicago', county='Chicago County', state='IL', zip_code=33026, extended_zip_code=Row(sector=41, segment=52))), Row(dept_id=30, dept_name='HR', dept_head_emp_id=1030, loc_address=Row(street_name='292 Oak St', unit_number=None, city='Denver', county='Denver County', state='CO', zip_code=70296, extended_zip_code=Row(sector=71, segment=85))), Row(dept_id=40, dept_name='Finance', dept_head_emp_id=1040, loc_address=Row(street_name='953 Main St', unit_number=None, city='New York', county='New York County', state='NY', zip_code=69799, extended_zip_code=Row(sector=83, segment=67))), Row(dept_id=50, dept_name='Marketing', dept_head_emp_id=1050, loc_address=Row(street_name='905 Pine St', unit_number='1', city='Denver', county='Denver County', state='CO', zip_code=52049, extended_zip_code=Row(sector=53, segment=88)))]

In [10]:
# Create a test data
employee_data = []
for i in range(1, 101): # 100 employees
    emp_id = 1000 + i
    dept_id = random.choice(DEPT_IDS) # Ensure dept_id is valid
    
    first = random.choice(FIRST_NAMES)
    last = random.choice(LAST_NAMES)
    
    city = random.choice(CITIES)
    state = STATES[CITIES.index(city)]
    
    employee_data.append(Row(
        employee_id=emp_id,
        dept_id=dept_id,
        first_name=first,
        middle_name=random.choice([None, "Xavier", "Yancy"]), # Allow for null middle_name
        last_name=last,
        
        # Nested Phone Structure (Non-Nullable fields generated)
        phone_num=Row(
            country_code=1,
            area_code=random.randint(200, 999),
            exchange_code=random.randint(100, 999),
            subscriber_number=random.randint(1000, 9999)
        ),
        
        email_id=f"{first.lower()}.{last.lower()}@company.com",
        
        # Nested Address Structure (Non-Nullable fields generated)
        address=generate_address(city, state)
    ))

print(employee_data)

[Row(employee_id=1001, dept_id=20, first_name='George', middle_name='Yancy', last_name='Miller', phone_num=Row(country_code=1, area_code=372, exchange_code=354, subscriber_number=8180), email_id='george.miller@company.com', address=Row(street_name='917 Main St', unit_number=None, city='Denver', county='Denver County', state='CO', zip_code=50588, extended_zip_code=Row(sector=97, segment=69))), Row(employee_id=1002, dept_id=40, first_name='George', middle_name='Yancy', last_name='Jones', phone_num=Row(country_code=1, area_code=633, exchange_code=241, subscriber_number=7056), email_id='george.jones@company.com', address=Row(street_name='413 Oak St', unit_number=None, city='Denver', county='Denver County', state='CO', zip_code=18464, extended_zip_code=Row(sector=88, segment=23))), Row(employee_id=1003, dept_id=20, first_name='Ethan', middle_name='Xavier', last_name='Moore', phone_num=Row(country_code=1, area_code=693, exchange_code=491, subscriber_number=2351), email_id='ethan.moore@company.com', address=Row(street_name='657 Oak St', unit_number=None, city='Denver', county='Denver County', state='CO', zip_code=63331, extended_zip_code=Row(sector=12, segment=97))), Row(employee_id=1004, dept_id=40, first_name='George', middle_name='Yancy', last_name='Moore', phone_num=Row(country_code=1, area_code=670, exchange_code=407, subscriber_number=1043), email_id='george.moore@company.com', address=Row(street_name='983 Oak St', unit_number=None, city='Chicago', county='Chicago County', state='IL', zip_code=25247, extended_zip_code=Row(sector=67, segment=40))), Row(employee_id=1005, dept_id=20, first_name='Bob', middle_name=None, last_name='Taylor', phone_num=Row(country_code=1, area_code=310, exchange_code=492, subscriber_number=9657), email_id='bob.taylor@company.com', address=Row(street_name='438 Main St', unit_number=None, city='Boston', county='Boston County', state='MA', zip_code=61026, extended_zip_code=Row(sector=65, segment=51))), Row(employee_id=1006, dept_id=10, first_name='George', middle_name='Yancy', last_name='Brown', phone_num=Row(country_code=1, area_code=769, exchange_code=795, subscriber_number=4882), email_id='george.brown@company.com', address=Row(street_name='345 Oak St', unit_number='85', city='Seattle', county='Seattle County', state='WA', zip_code=90038, extended_zip_code=Row(sector=77, segment=71))), Row(employee_id=1007, dept_id=40, first_name='Ivy', middle_name=None, last_name='Miller', phone_num=Row(country_code=1, area_code=520, exchange_code=941, subscriber_number=3978), email_id='ivy.miller@company.com', address=Row(street_name='521 Main St', unit_number='172', city='Chicago', county='Chicago County', state='IL', zip_code=37445, extended_zip_code=Row(sector=85, segment=44))), Row(employee_id=1008, dept_id=10, first_name='Fiona', middle_name='Xavier', last_name='Brown', phone_num=Row(country_code=1, area_code=760, exchange_code=452, subscriber_number=5804), email_id='fiona.brown@company.com', address=Row(street_name='940 Oak St', unit_number='101', city='Austin', county='Austin County', state='TX', zip_code=60899, extended_zip_code=Row(sector=64, segment=98))), Row(employee_id=1009, dept_id=50, first_name='Fiona', middle_name=None, last_name='Jones', phone_num=Row(country_code=1, area_code=219, exchange_code=500, subscriber_number=4816), email_id='fiona.jones@company.com', address=Row(street_name='556 Main St', unit_number=None, city='New York', county='New York County', state='NY', zip_code=41863, extended_zip_code=Row(sector=16, segment=99))), Row(employee_id=1010, dept_id=10, first_name='Diana', middle_name=None, last_name='Smith', phone_num=Row(country_code=1, area_code=531, exchange_code=257, subscriber_number=7558), email_id='diana.smith@company.com', address=Row(street_name='794 Main St', unit_number=None, city='Boston', county='Boston County', state='MA', zip_code=95030, extended_zip_code=Row(sector=59, segment=73))), Row(employee_id=1011, dept_id=40, first_name='Fiona', middle_name='Xavier', last_name='Anderson', phone_num=Row(country_code=1, area_code=429, exchange_code=603, subscriber_number=1854), email_id='fiona.anderson@company.com', address=Row(street_name='309 Pine St', unit_number='67', city='Denver', county='Denver County', state='CO', zip_code=81581, extended_zip_code=Row(sector=85, segment=45))), Row(employee_id=1012, dept_id=10, first_name='Bob', middle_name=None, last_name='Taylor', phone_num=Row(country_code=1, area_code=886, exchange_code=855, subscriber_number=7099), email_id='bob.taylor@company.com', address=Row(street_name='746 Pine St', unit_number=None, city='Austin', county='Austin County', state='TX', zip_code=50929, extended_zip_code=Row(sector=59, segment=99))), Row(employee_id=1013, dept_id=30, first_name='Jack', middle_name='Yancy', last_name='Anderson', phone_num=Row(country_code=1, area_code=406, exchange_code=905, subscriber_number=1302), email_id='jack.anderson@company.com', address=Row(street_name='411 Oak St', unit_number=None, city='Denver', county='Denver County', state='CO', zip_code=48822, extended_zip_code=Row(sector=53, segment=76))), Row(employee_id=1014, dept_id=10, first_name='Charlie', middle_name='Xavier', last_name='Wilson', phone_num=Row(country_code=1, area_code=344, exchange_code=989, subscriber_number=2062), email_id='charlie.wilson@company.com', address=Row(street_name='808 Main St', unit_number='6', city='Denver', county='Denver County', state='CO', zip_code=88727, extended_zip_code=Row(sector=58, segment=98))), Row(employee_id=1015, dept_id=20, first_name='Charlie', middle_name=None, last_name='Miller', phone_num=Row(country_code=1, area_code=979, exchange_code=444, subscriber_number=2175), email_id='charlie.miller@company.com', address=Row(street_name='386 Pine St', unit_number=None, city='Chicago', county='Chicago County', state='IL', zip_code=43500, extended_zip_code=Row(sector=44, segment=95))), Row(employee_id=1016, dept_id=20, first_name='Jack', middle_name='Xavier', last_name='Miller', phone_num=Row(country_code=1, area_code=262, exchange_code=249, subscriber_number=1638), email_id='jack.miller@company.com', address=Row(street_name='870 Oak St', unit_number=None, city='Seattle', county='Seattle County', state='WA', zip_code=32396, extended_zip_code=Row(sector=74, segment=71))), Row(employee_id=1017, dept_id=50, first_name='Ivy', middle_name=None, last_name='Wilson', phone_num=Row(country_code=1, area_code=354, exchange_code=567, subscriber_number=8992), email_id='ivy.wilson@company.com', address=Row(street_name='472 Pine St', unit_number=None, city='New York', county='New York County', state='NY', zip_code=77848, extended_zip_code=Row(sector=36, segment=88))), Row(employee_id=1018, dept_id=30, first_name='Hannah', middle_name=None, last_name='Brown', phone_num=Row(country_code=1, area_code=281, exchange_code=544, subscriber_number=3579), email_id='hannah.brown@company.com', address=Row(street_name='743 Main St', unit_number=None, city='Boston', county='Boston County', state='MA', zip_code=10637, extended_zip_code=Row(sector=22, segment=93))), Row(employee_id=1019, dept_id=50, first_name='Charlie', middle_name='Yancy', last_name='Wilson', phone_num=Row(country_code=1, area_code=349, exchange_code=536, subscriber_number=2032), email_id='charlie.wilson@company.com', address=Row(street_name='311 Main St', unit_number=None, city='Austin', county='Austin County', state='TX', zip_code=87050, extended_zip_code=Row(sector=93, segment=17))), Row(employee_id=1020, dept_id=10, first_name='Bob', middle_name='Xavier', last_name='Miller', phone_num=Row(country_code=1, area_code=373, exchange_code=126, subscriber_number=9037), email_id='bob.miller@company.com', address=Row(street_name='981 Main St', unit_number='17', city='New York', county='New York County', state='NY', zip_code=45504, extended_zip_code=Row(sector=36, segment=35))), Row(employee_id=1021, dept_id=30, first_name='Ivy', middle_name='Yancy', last_name='Wilson', phone_num=Row(country_code=1, area_code=518, exchange_code=101, subscriber_number=1067), email_id='ivy.wilson@company.com', address=Row(street_name='319 Main St', unit_number=None, city='Denver', county='Denver County', state='CO', zip_code=83003, extended_zip_code=Row(sector=44, segment=38))), Row(employee_id=1022, dept_id=30, first_name='Diana', middle_name='Yancy', last_name='Miller', phone_num=Row(country_code=1, area_code=500, exchange_code=991, subscriber_number=6840), email_id='diana.miller@company.com', address=Row(street_name='142 Pine St', unit_number=None, city='Seattle', county='Seattle County', state='WA', zip_code=64156, extended_zip_code=Row(sector=83, segment=97))), Row(employee_id=1023, dept_id=50, first_name='Fiona', middle_name='Xavier', last_name='Brown', phone_num=Row(country_code=1, area_code=975, exchange_code=257, subscriber_number=1445), email_id='fiona.brown@company.com', address=Row(street_name='337 Oak St', unit_number='166', city='Chicago', county='Chicago County', state='IL', zip_code=91285, extended_zip_code=Row(sector=94, segment=30))), Row(employee_id=1024, dept_id=20, first_name='Fiona', middle_name='Xavier', last_name='Smith', phone_num=Row(country_code=1, area_code=269, exchange_code=406, subscriber_number=5287), email_id='fiona.smith@company.com', address=Row(street_name='222 Oak St', unit_number=None, city='Boston', county='Boston County', state='MA', zip_code=22903, extended_zip_code=Row(sector=11, segment=74))), Row(employee_id=1025, dept_id=40, first_name='Fiona', middle_name='Xavier', last_name='Wilson', phone_num=Row(country_code=1, area_code=624, exchange_code=194, subscriber_number=5493), email_id='fiona.wilson@company.com', address=Row(street_name='681 Main St', unit_number=None, city='Boston', county='Boston County', state='MA', zip_code=48270, extended_zip_code=Row(sector=59, segment=97))), Row(employee_id=1026, dept_id=40, first_name='Diana', middle_name='Yancy', last_name='Smith', phone_num=Row(country_code=1, area_code=200, exchange_code=387, subscriber_number=1283), email_id='diana.smith@company.com', address=Row(street_name='696 Main St', unit_number=None, city='Chicago', county='Chicago County', state='IL', zip_code=32550, extended_zip_code=Row(sector=71, segment=89))), Row(employee_id=1027, dept_id=10, first_name='Hannah', middle_name='Xavier', last_name='Williams', phone_num=Row(country_code=1, area_code=336, exchange_code=782, subscriber_number=9711), email_id='hannah.williams@company.com', address=Row(street_name='272 Main St', unit_number=None, city='Austin', county='Austin County', state='TX', zip_code=42073, extended_zip_code=Row(sector=62, segment=38))), Row(employee_id=1028, dept_id=20, first_name='Ivy', middle_name='Xavier', last_name='Miller', phone_num=Row(country_code=1, area_code=688, exchange_code=662, subscriber_number=1551), email_id='ivy.miller@company.com', address=Row(street_name='319 Main St', unit_number=None, city='New York', county='New York County', state='NY', zip_code=37695, extended_zip_code=Row(sector=55, segment=67))), Row(employee_id=1029, dept_id=50, first_name='Alice', middle_name='Yancy', last_name='Smith', phone_num=Row(country_code=1, area_code=353, exchange_code=346, subscriber_number=4516), email_id='alice.smith@company.com', address=Row(street_name='502 Pine St', unit_number=None, city='Denver', county='Denver County', state='CO', zip_code=81832, extended_zip_code=Row(sector=19, segment=96))), Row(employee_id=1030, dept_id=50, first_name='Alice', middle_name=None, last_name='Taylor', phone_num=Row(country_code=1, area_code=594, exchange_code=838, subscriber_number=2753), email_id='alice.taylor@company.com', address=Row(street_name='794 Oak St', unit_number='103', city='Seattle', county='Seattle County', state='WA', zip_code=42374, extended_zip_code=Row(sector=94, segment=13))), Row(employee_id=1031, dept_id=10, first_name='Jack', middle_name='Xavier', last_name='Smith', phone_num=Row(country_code=1, area_code=380, exchange_code=795, subscriber_number=5793), email_id='jack.smith@company.com', address=Row(street_name='817 Main St', unit_number='109', city='Denver', county='Denver County', state='CO', zip_code=15476, extended_zip_code=Row(sector=67, segment=15))), Row(employee_id=1032, dept_id=40, first_name='Fiona', middle_name='Xavier', last_name='Wilson', phone_num=Row(country_code=1, area_code=238, exchange_code=259, subscriber_number=4314), email_id='fiona.wilson@company.com', address=Row(street_name='490 Pine St', unit_number=None, city='Boston', county='Boston County', state='MA', zip_code=41530, extended_zip_code=Row(sector=96, segment=83))), Row(employee_id=1033, dept_id=50, first_name='Alice', middle_name='Xavier', last_name='Jones', phone_num=Row(country_code=1, area_code=281, exchange_code=781, subscriber_number=7965), email_id='alice.jones@company.com', address=Row(street_name='656 Oak St', unit_number=None, city='New York', county='New York County', state='NY', zip_code=55090, extended_zip_code=Row(sector=31, segment=14))), Row(employee_id=1034, dept_id=20, first_name='Charlie', middle_name='Yancy', last_name='Brown', phone_num=Row(country_code=1, area_code=566, exchange_code=237, subscriber_number=1788), email_id='charlie.brown@company.com', address=Row(street_name='908 Pine St', unit_number=None, city='New York', county='New York County', state='NY', zip_code=29680, extended_zip_code=Row(sector=58, segment=62))), Row(employee_id=1035, dept_id=10, first_name='George', middle_name='Xavier', last_name='Taylor', phone_num=Row(country_code=1, area_code=680, exchange_code=763, subscriber_number=9610), email_id='george.taylor@company.com', address=Row(street_name='681 Pine St', unit_number='149', city='Austin', county='Austin County', state='TX', zip_code=80856, extended_zip_code=Row(sector=45, segment=87))), Row(employee_id=1036, dept_id=30, first_name='George', middle_name='Yancy', last_name='Taylor', phone_num=Row(country_code=1, area_code=626, exchange_code=960, subscriber_number=5618), email_id='george.taylor@company.com', address=Row(street_name='476 Oak St', unit_number='77', city='Chicago', county='Chicago County', state='IL', zip_code=14329, extended_zip_code=Row(sector=78, segment=94))), Row(employee_id=1037, dept_id=10, first_name='Fiona', middle_name='Xavier', last_name='Smith', phone_num=Row(country_code=1, area_code=856, exchange_code=166, subscriber_number=8165), email_id='fiona.smith@company.com', address=Row(street_name='592 Main St', unit_number=None, city='Chicago', county='Chicago County', state='IL', zip_code=25148, extended_zip_code=Row(sector=28, segment=15))), Row(employee_id=1038, dept_id=50, first_name='Jack', middle_name='Yancy', last_name='Moore', phone_num=Row(country_code=1, area_code=991, exchange_code=636, subscriber_number=2623), email_id='jack.moore@company.com', address=Row(street_name='171 Oak St', unit_number=None, city='Chicago', county='Chicago County', state='IL', zip_code=43858, extended_zip_code=Row(sector=46, segment=64))), Row(employee_id=1039, dept_id=10, first_name='Hannah', middle_name='Yancy', last_name='Smith', phone_num=Row(country_code=1, area_code=766, exchange_code=171, subscriber_number=5656), email_id='hannah.smith@company.com', address=Row(street_name='648 Pine St', unit_number='13', city='New York', county='New York County', state='NY', zip_code=45203, extended_zip_code=Row(sector=97, segment=47))), Row(employee_id=1040, dept_id=50, first_name='Alice', middle_name='Yancy', last_name='Taylor', phone_num=Row(country_code=1, area_code=336, exchange_code=462, subscriber_number=9315), email_id='alice.taylor@company.com', address=Row(street_name='783 Oak St', unit_number='47', city='Denver', county='Denver County', state='CO', zip_code=65108, extended_zip_code=Row(sector=77, segment=38))), Row(employee_id=1041, dept_id=50, first_name='Diana', middle_name=None, last_name='Anderson', phone_num=Row(country_code=1, area_code=354, exchange_code=581, subscriber_number=8628), email_id='diana.anderson@company.com', address=Row(street_name='586 Oak St', unit_number=None, city='Boston', county='Boston County', state='MA', zip_code=76143, extended_zip_code=Row(sector=23, segment=44))), Row(employee_id=1042, dept_id=20, first_name='Ivy', middle_name='Yancy', last_name='Brown', phone_num=Row(country_code=1, area_code=855, exchange_code=670, subscriber_number=2356), email_id='ivy.brown@company.com', address=Row(street_name='219 Oak St', unit_number='193', city='Seattle', county='Seattle County', state='WA', zip_code=96918, extended_zip_code=Row(sector=42, segment=62))), Row(employee_id=1043, dept_id=10, first_name='Ivy', middle_name='Yancy', last_name='Miller', phone_num=Row(country_code=1, area_code=948, exchange_code=941, subscriber_number=3442), email_id='ivy.miller@company.com', address=Row(street_name='167 Pine St', unit_number=None, city='Seattle', county='Seattle County', state='WA', zip_code=98421, extended_zip_code=Row(sector=45, segment=63))), Row(employee_id=1044, dept_id=40, first_name='Jack', middle_name='Yancy', last_name='Williams', phone_num=Row(country_code=1, area_code=967, exchange_code=338, subscriber_number=6751), email_id='jack.williams@company.com', address=Row(street_name='364 Main St', unit_number='190', city='Seattle', county='Seattle County', state='WA', zip_code=65322, extended_zip_code=Row(sector=37, segment=83))), Row(employee_id=1045, dept_id=40, first_name='Ivy', middle_name='Yancy', last_name='Moore', phone_num=Row(country_code=1, area_code=366, exchange_code=611, subscriber_number=2262), email_id='ivy.moore@company.com', address=Row(street_name='944 Oak St', unit_number=None, city='Boston', county='Boston County', state='MA', zip_code=19913, extended_zip_code=Row(sector=63, segment=36))), Row(employee_id=1046, dept_id=30, first_name='George', middle_name='Yancy', last_name='Williams', phone_num=Row(country_code=1, area_code=993, exchange_code=761, subscriber_number=1462), email_id='george.williams@company.com', address=Row(street_name='472 Oak St', unit_number='175', city='Seattle', county='Seattle County', state='WA', zip_code=68019, extended_zip_code=Row(sector=92, segment=23))), Row(employee_id=1047, dept_id=50, first_name='Fiona', middle_name=None, last_name='Davis', phone_num=Row(country_code=1, area_code=403, exchange_code=427, subscriber_number=6786), email_id='fiona.davis@company.com', address=Row(street_name='482 Main St', unit_number='111', city='Chicago', county='Chicago County', state='IL', zip_code=95164, extended_zip_code=Row(sector=43, segment=13))), Row(employee_id=1048, dept_id=10, first_name='Alice', middle_name='Xavier', last_name='Brown', phone_num=Row(country_code=1, area_code=289, exchange_code=197, subscriber_number=9037), email_id='alice.brown@company.com', address=Row(street_name='617 Main St', unit_number='133', city='Boston', county='Boston County', state='MA', zip_code=69733, extended_zip_code=Row(sector=83, segment=75))), Row(employee_id=1049, dept_id=40, first_name='Hannah', middle_name=None, last_name='Anderson', phone_num=Row(country_code=1, area_code=646, exchange_code=609, subscriber_number=3720), email_id='hannah.anderson@company.com', address=Row(street_name='305 Oak St', unit_number=None, city='Chicago', county='Chicago County', state='IL', zip_code=55363, extended_zip_code=Row(sector=47, segment=53))), Row(employee_id=1050, dept_id=10, first_name='Charlie', middle_name='Yancy', last_name='Wilson', phone_num=Row(country_code=1, area_code=325, exchange_code=539, subscriber_number=6034), email_id='charlie.wilson@company.com', address=Row(street_name='372 Main St', unit_number='132', city='New York', county='New York County', state='NY', zip_code=81893, extended_zip_code=Row(sector=95, segment=82))), Row(employee_id=1051, dept_id=30, first_name='Alice', middle_name='Xavier', last_name='Smith', phone_num=Row(country_code=1, area_code=299, exchange_code=290, subscriber_number=6523), email_id='alice.smith@company.com', address=Row(street_name='645 Main St', unit_number='140', city='Seattle', county='Seattle County', state='WA', z

In [11]:
df_employee = spark.createDataFrame(employee_data, schema=employee_schema)

df_employee.show()

+-----------+-------+----------+-----------+---------+-------------------+--------------------+--------------------+
|employee_id|dept_id|first_name|middle_name|last_name|          phone_num|            email_id|             address|
+-----------+-------+----------+-----------+---------+-------------------+--------------------+--------------------+
|       1001|     20|    George|      Yancy|   Miller|{1, 372, 354, 8180}|george.miller@com...|{917 Main St, NUL...|
|       1002|     40|    George|      Yancy|    Jones|{1, 633, 241, 7056}|george.jones@comp...|{413 Oak St, NULL...|
|       1003|     20|     Ethan|     Xavier|    Moore|{1, 693, 491, 2351}|ethan.moore@compa...|{657 Oak St, NULL...|
|       1004|     40|    George|      Yancy|    Moore|{1, 670, 407, 1043}|george.moore@comp...|{983 Oak St, NULL...|
|       1005|     20|       Bob|       NULL|   Taylor|{1, 310, 492, 9657}|bob.taylor@compan...|{438 Main St, NUL...|
|       1006|     10|    George|      Yancy|    Brown|{1, 769, 795, 4882}|george.brown@comp...|{345 Oak St, 85, ...|
|       1007|     40|       Ivy|       NULL|   Miller|{1, 520, 941, 3978}|ivy.miller@compan...|{521 Main St, 172...|
|       1008|     10|     Fiona|     Xavier|    Brown|{1, 760, 452, 5804}|fiona.brown@compa...|{940 Oak St, 101,...|
|       1009|     50|     Fiona|       NULL|    Jones|{1, 219, 500, 4816}|fiona.jones@compa...|{556 Main St, NUL...|
|       1010|     10|     Diana|       NULL|    Smith|{1, 531, 257, 7558}|diana.smith@compa...|{794 Main St, NUL...|
|       1011|     40|     Fiona|     Xavier| Anderson|{1, 429, 603, 1854}|fiona.anderson@co...|{309 Pine St, 67,...|
|       1012|     10|       Bob|       NULL|   Taylor|{1, 886, 855, 7099}|bob.taylor@compan...|{746 Pine St, NUL...|
|       1013|     30|      Jack|      Yancy| Anderson|{1, 406, 905, 1302}|jack.anderson@com...|{411 Oak St, NULL...|
|       1014|     10|   Charlie|     Xavier|   Wilson|{1, 344, 989, 2062}|charlie.wilson@co...|{808 Main St, 6, ...|
|       1015|     20|   Charlie|       NULL|   Miller|{1, 979, 444, 2175}|charlie.miller@co...|{386 Pine St, NUL...|
|       1016|     20|      Jack|     Xavier|   Miller|{1, 262, 249, 1638}|jack.miller@compa...|{870 Oak St, NULL...|
|       1017|     50|       Ivy|       NULL|   Wilson|{1, 354, 567, 8992}|ivy.wilson@compan...|{472 Pine St, NUL...|
|       1018|     30|    Hannah|       NULL|    Brown|{1, 281, 544, 3579}|hannah.brown@comp...|{743 Main St, NUL...|
|       1019|     50|   Charlie|      Yancy|   Wilson|{1, 349, 536, 2032}|charlie.wilson@co...|{311 Main St, NUL...|
|       1020|     10|       Bob|     Xavier|   Miller|{1, 373, 126, 9037}|bob.miller@compan...|{981 Main St, 17,...|
+-----------+-------+----------+-----------+---------+-------------------+--------------------+--------------------+
only showing top 20 rows

In [12]:
df_department = spark.createDataFrame(dept_data, schema=dept_schema)

df_department.show()

+-------+-----------+----------------+--------------------+
|dept_id|  dept_name|dept_head_emp_id|         loc_address|
+-------+-----------+----------------+--------------------+
|     10|Engineering|            1010|{194 Main St, NUL...|
|     20|      Sales|            1020|{110 Pine St, NUL...|
|     30|         HR|            1030|{292 Oak St, NULL...|
|     40|    Finance|            1040|{953 Main St, NUL...|
|     50|  Marketing|            1050|{905 Pine St, 1, ...|
+-------+-----------+----------------+--------------------+

In [13]:
df_employee.filter(col("employee_id") == 1010).show()

+-----------+-------+----------+-----------+---------+-------------------+--------------------+--------------------+
|employee_id|dept_id|first_name|middle_name|last_name|          phone_num|            email_id|             address|
+-----------+-------+----------+-----------+---------+-------------------+--------------------+--------------------+
|       1010|     10|     Diana|       NULL|    Smith|{1, 531, 257, 7558}|diana.smith@compa...|{794 Main St, NUL...|
+-----------+-------+----------+-----------+---------+-------------------+--------------------+--------------------+

In [14]:
df_employee.alias("e").join(df_department.alias("d"), on=(col("e.employee_id") == col("d.dept_head_emp_id")), how="inner").select(col("e.employee_id")).show()

+-----------+
|employee_id|
+-----------+
|       1010|
|       1020|
|       1030|
|       1040|
|       1050|
+-----------+

In [15]:
spark.stop()