# Employee Data

- employee_id
- first_name
- last_name
- phone_num
    - country_code
    - area_code
    - exchange_code
    - subscriber_number
- email_id
- address
    - street_name
    - unit_number
    - city
    - county
    - state
    - zip_code
    - extended_zip_code
        - sector
        - segment

In [23]:
# Import required modules/libraries
from pyspark.sql.types import (StructType, StructField, StringType, IntegerType)
from pyspark.sql import SparkSession, Row
from datetime import date, datetime
from pyspark.sql.functions import col, struct
import random

In [24]:
# Create a spark connection
spark = SparkSession.builder.appName("Employee Analysis").getOrCreate()

In [25]:
#Employee Schema

extended_zip_code_schema = StructType([
    StructField("sector", IntegerType()),  # Example: 54
    StructField("segment", IntegerType()) # Example: 01
])

address_schema = StructType([
    StructField("street_name", StringType(), False),
    StructField("unit_number", StringType()),
    StructField("city", StringType(), False),
    StructField("county", StringType()),
    StructField("state", StringType(), False),
    StructField("zip_code", IntegerType(), False),
    StructField("extended_zip_code", extended_zip_code_schema) # Nesting the previous structure
])

phone_num_schema = StructType([                                 # e.g., 1 (555)-123-4567
    StructField("country_code", IntegerType(), False),          # e.g., "1"
    StructField("area_code", IntegerType(), False),             # e.g., "555"
    StructField("exchange_code", IntegerType(), False),         # e.g., "123"
    StructField("subscriber_number", IntegerType(), False)      # e.g., "4567"
])

employee_schema = StructType([
    StructField("employee_id", IntegerType(), False),
    StructField("dept_id", IntegerType(), False),    
    StructField("first_name", StringType(), False),
    StructField("middle_name", StringType()),
    StructField("last_name", StringType(), False),
    StructField("phone_num", phone_num_schema, False),         # Nested Phone Structure
    StructField("email_id", StringType(), False),
    StructField("address", address_schema, False)              # Nested Address Structure
])

In [26]:
# Department Schema

dept_schema = StructType([
    StructField("dept_id", IntegerType(), False),
    StructField("dept_name", StringType(), False),
    StructField("dept_head_emp_id", IntegerType(), False),
    StructField("loc_address", address_schema, False)
])

In [27]:
# Generate synthetic data

FIRST_NAMES = ["Alice", "Bob", "Charlie", "Diana", "Ethan", "Fiona", "George", "Hannah", "Ivy", "Jack"]
LAST_NAMES = ["Smith", "Jones", "Williams", "Brown", "Davis", "Miller", "Wilson", "Moore", "Taylor", "Anderson"]
CITIES = ["New York", "Chicago", "Boston", "Seattle", "Austin", "Denver"]
STATES = ["NY", "IL", "MA", "WA", "TX", "CO"]
DEPARTMENTS = [
    (10, "Engineering"),
    (20, "Sales"),
    (30, "HR"),
    (40, "Finance"),
    (50, "Marketing"),
]

In [28]:
# Create a list of department IDs that we will assign to employees
DEPT_IDS = [id for id, name in DEPARTMENTS]

In [29]:
def generate_address(city, state):
    """Generates a nested address Row consistent with address_schema."""
    zip_code_base = random.randint(10000, 99999)
    return Row(
        street_name=f"{random.randint(100, 999)} {random.choice(['Oak', 'Pine', 'Main'])} St",
        unit_number=random.choice([None, str(random.randint(1, 200))]),
        city=city,
        county=f"{city} County",
        state=state,
        zip_code=zip_code_base,
        extended_zip_code=Row(
            sector=random.randint(10, 99),
            segment=random.randint(10, 99)
        )
    )

In [30]:
dept_data = []
# Ensure each department gets a location
for dept_id, dept_name in DEPARTMENTS:
    city = random.choice(CITIES)
    state = STATES[CITIES.index(city)]
    
    # Generate a unique employee ID for the department head (ensuring it's not the same as a future employee ID)
    dept_head_emp_id = 1000 + dept_id
    
    dept_data.append(Row(
        dept_id=dept_id,
        dept_name=dept_name,
        dept_head_emp_id=dept_head_emp_id,
        loc_address=generate_address(city, state)
    ))

In [31]:
# Create a test data
employee_data = []
for i in range(1, 101): # 100 employees
    emp_id = 1000 + i
    dept_id = random.choice(DEPT_IDS) # Ensure dept_id is valid
    
    first = random.choice(FIRST_NAMES)
    last = random.choice(LAST_NAMES)
    
    city = random.choice(CITIES)
    state = STATES[CITIES.index(city)]
    
    employee_data.append(Row(
        employee_id=emp_id,
        dept_id=dept_id,
        first_name=first,
        middle_name=random.choice([None, "Xavier", "Yancy"]), # Allow for null middle_name
        last_name=last,
        
        # Nested Phone Structure (Non-Nullable fields generated)
        phone_num=Row(
            country_code=1,
            area_code=random.randint(200, 999),
            exchange_code=random.randint(100, 999),
            subscriber_number=random.randint(1000, 9999)
        ),
        
        email_id=f"{first.lower()}.{last.lower()}@company.com",
        
        # Nested Address Structure (Non-Nullable fields generated)
        address=generate_address(city, state)
    ))

print(employee_data)

[Row(employee_id=1001, dept_id=30, first_name='Diana', middle_name='Xavier', last_name='Taylor', phone_num=Row(country_code=1, area_code=527, exchange_code=318, subscriber_number=9046), email_id='diana.taylor@company.com', address=Row(street_name='843 Pine St', unit_number=None, city='Boston', county='Boston County', state='MA', zip_code=13735, extended_zip_code=Row(sector=91, segment=34))), Row(employee_id=1002, dept_id=50, first_name='Ethan', middle_name='Yancy', last_name='Wilson', phone_num=Row(country_code=1, area_code=319, exchange_code=375, subscriber_number=4104), email_id='ethan.wilson@company.com', address=Row(street_name='694 Pine St', unit_number='4', city='Boston', county='Boston County', state='MA', zip_code=24219, extended_zip_code=Row(sector=90, segment=82))), Row(employee_id=1003, dept_id=40, first_name='George', middle_name='Yancy', last_name='Smith', phone_num=Row(country_code=1, area_code=454, exchange_code=504, subscriber_number=2259), email_id='george.smith@company.com', address=Row(street_name='561 Main St', unit_number='25', city='New York', county='New York County', state='NY', zip_code=55557, extended_zip_code=Row(sector=77, segment=53))), Row(employee_id=1004, dept_id=10, first_name='Bob', middle_name='Yancy', last_name='Williams', phone_num=Row(country_code=1, area_code=205, exchange_code=339, subscriber_number=6275), email_id='bob.williams@company.com', address=Row(street_name='827 Oak St', unit_number='166', city='Austin', county='Austin County', state='TX', zip_code=26735, extended_zip_code=Row(sector=48, segment=19))), Row(employee_id=1005, dept_id=40, first_name='Fiona', middle_name=None, last_name='Davis', phone_num=Row(country_code=1, area_code=703, exchange_code=719, subscriber_number=1300), email_id='fiona.davis@company.com', address=Row(street_name='162 Main St', unit_number='24', city='Austin', county='Austin County', state='TX', zip_code=10409, extended_zip_code=Row(sector=99, segment=90))), Row(employee_id=1006, dept_id=30, first_name='Bob', middle_name='Yancy', last_name='Moore', phone_num=Row(country_code=1, area_code=773, exchange_code=861, subscriber_number=2637), email_id='bob.moore@company.com', address=Row(street_name='456 Oak St', unit_number=None, city='Chicago', county='Chicago County', state='IL', zip_code=42331, extended_zip_code=Row(sector=31, segment=17))), Row(employee_id=1007, dept_id=20, first_name='Bob', middle_name='Xavier', last_name='Smith', phone_num=Row(country_code=1, area_code=293, exchange_code=884, subscriber_number=8648), email_id='bob.smith@company.com', address=Row(street_name='590 Oak St', unit_number='122', city='Seattle', county='Seattle County', state='WA', zip_code=96582, extended_zip_code=Row(sector=91, segment=24))), Row(employee_id=1008, dept_id=50, first_name='Ethan', middle_name='Yancy', last_name='Taylor', phone_num=Row(country_code=1, area_code=858, exchange_code=295, subscriber_number=1700), email_id='ethan.taylor@company.com', address=Row(street_name='263 Pine St', unit_number='3', city='Chicago', county='Chicago County', state='IL', zip_code=98256, extended_zip_code=Row(sector=18, segment=26))), Row(employee_id=1009, dept_id=10, first_name='Ivy', middle_name='Xavier', last_name='Davis', phone_num=Row(country_code=1, area_code=268, exchange_code=360, subscriber_number=2845), email_id='ivy.davis@company.com', address=Row(street_name='651 Oak St', unit_number='70', city='Austin', county='Austin County', state='TX', zip_code=39730, extended_zip_code=Row(sector=52, segment=52))), Row(employee_id=1010, dept_id=10, first_name='Bob', middle_name='Yancy', last_name='Davis', phone_num=Row(country_code=1, area_code=360, exchange_code=570, subscriber_number=2918), email_id='bob.davis@company.com', address=Row(street_name='367 Pine St', unit_number='24', city='Boston', county='Boston County', state='MA', zip_code=44349, extended_zip_code=Row(sector=19, segment=95))), Row(employee_id=1011, dept_id=40, first_name='George', middle_name='Xavier', last_name='Brown', phone_num=Row(country_code=1, area_code=279, exchange_code=619, subscriber_number=8648), email_id='george.brown@company.com', address=Row(street_name='656 Pine St', unit_number='46', city='Austin', county='Austin County', state='TX', zip_code=71001, extended_zip_code=Row(sector=40, segment=85))), Row(employee_id=1012, dept_id=30, first_name='Bob', middle_name='Yancy', last_name='Brown', phone_num=Row(country_code=1, area_code=462, exchange_code=389, subscriber_number=6237), email_id='bob.brown@company.com', address=Row(street_name='564 Main St', unit_number=None, city='Boston', county='Boston County', state='MA', zip_code=93772, extended_zip_code=Row(sector=63, segment=43))), Row(employee_id=1013, dept_id=30, first_name='Hannah', middle_name=None, last_name='Brown', phone_num=Row(country_code=1, area_code=321, exchange_code=686, subscriber_number=7273), email_id='hannah.brown@company.com', address=Row(street_name='412 Pine St', unit_number=None, city='New York', county='New York County', state='NY', zip_code=12371, extended_zip_code=Row(sector=40, segment=75))), Row(employee_id=1014, dept_id=10, first_name='Ivy', middle_name='Yancy', last_name='Wilson', phone_num=Row(country_code=1, area_code=684, exchange_code=440, subscriber_number=5673), email_id='ivy.wilson@company.com', address=Row(street_name='345 Pine St', unit_number='77', city='Chicago', county='Chicago County', state='IL', zip_code=91203, extended_zip_code=Row(sector=19, segment=38))), Row(employee_id=1015, dept_id=50, first_name='Hannah', middle_name='Yancy', last_name='Brown', phone_num=Row(country_code=1, area_code=400, exchange_code=981, subscriber_number=2699), email_id='hannah.brown@company.com', address=Row(street_name='386 Pine St', unit_number=None, city='Chicago', county='Chicago County', state='IL', zip_code=98444, extended_zip_code=Row(sector=96, segment=19))), Row(employee_id=1016, dept_id=30, first_name='Ivy', middle_name='Yancy', last_name='Smith', phone_num=Row(country_code=1, area_code=293, exchange_code=212, subscriber_number=2855), email_id='ivy.smith@company.com', address=Row(street_name='729 Pine St', unit_number='133', city='New York', county='New York County', state='NY', zip_code=25480, extended_zip_code=Row(sector=85, segment=57))), Row(employee_id=1017, dept_id=20, first_name='Ivy', middle_name='Yancy', last_name='Taylor', phone_num=Row(country_code=1, area_code=872, exchange_code=795, subscriber_number=2381), email_id='ivy.taylor@company.com', address=Row(street_name='511 Oak St', unit_number='55', city='Chicago', county='Chicago County', state='IL', zip_code=93490, extended_zip_code=Row(sector=86, segment=67))), Row(employee_id=1018, dept_id=50, first_name='Fiona', middle_name=None, last_name='Taylor', phone_num=Row(country_code=1, area_code=762, exchange_code=752, subscriber_number=5284), email_id='fiona.taylor@company.com', address=Row(street_name='444 Main St', unit_number=None, city='Chicago', county='Chicago County', state='IL', zip_code=47842, extended_zip_code=Row(sector=96, segment=79))), Row(employee_id=1019, dept_id=10, first_name='Bob', middle_name='Xavier', last_name='Smith', phone_num=Row(country_code=1, area_code=789, exchange_code=266, subscriber_number=7878), email_id='bob.smith@company.com', address=Row(street_name='994 Oak St', unit_number=None, city='Seattle', county='Seattle County', state='WA', zip_code=12697, extended_zip_code=Row(sector=82, segment=36))), Row(employee_id=1020, dept_id=30, first_name='Ivy', middle_name=None, last_name='Jones', phone_num=Row(country_code=1, area_code=523, exchange_code=145, subscriber_number=8165), email_id='ivy.jones@company.com', address=Row(street_name='654 Pine St', unit_number=None, city='Denver', county='Denver County', state='CO', zip_code=29759, extended_zip_code=Row(sector=79, segment=50))), Row(employee_id=1021, dept_id=40, first_name='Jack', middle_name='Yancy', last_name='Taylor', phone_num=Row(country_code=1, area_code=981, exchange_code=546, subscriber_number=1004), email_id='jack.taylor@company.com', address=Row(street_name='249 Main St', unit_number=None, city='New York', county='New York County', state='NY', zip_code=15637, extended_zip_code=Row(sector=38, segment=57))), Row(employee_id=1022, dept_id=30, first_name='Alice', middle_name=None, last_name='Anderson', phone_num=Row(country_code=1, area_code=592, exchange_code=810, subscriber_number=7743), email_id='alice.anderson@company.com', address=Row(street_name='521 Pine St', unit_number='192', city='Denver', county='Denver County', state='CO', zip_code=80405, extended_zip_code=Row(sector=27, segment=80))), Row(employee_id=1023, dept_id=30, first_name='Jack', middle_name='Xavier', last_name='Miller', phone_num=Row(country_code=1, area_code=201, exchange_code=199, subscriber_number=9469), email_id='jack.miller@company.com', address=Row(street_name='740 Main St', unit_number='95', city='Denver', county='Denver County', state='CO', zip_code=68621, extended_zip_code=Row(sector=25, segment=96))), Row(employee_id=1024, dept_id=40, first_name='Hannah', middle_name='Yancy', last_name='Williams', phone_num=Row(country_code=1, area_code=286, exchange_code=384, subscriber_number=8511), email_id='hannah.williams@company.com', address=Row(street_name='184 Main St', unit_number='194', city='Austin', county='Austin County', state='TX', zip_code=99690, extended_zip_code=Row(sector=80, segment=33))), Row(employee_id=1025, dept_id=50, first_name='Hannah', middle_name='Xavier', last_name='Brown', phone_num=Row(country_code=1, area_code=570, exchange_code=122, subscriber_number=8232), email_id='hannah.brown@company.com', address=Row(street_name='640 Main St', unit_number='79', city='Denver', county='Denver County', state='CO', zip_code=41322, extended_zip_code=Row(sector=95, segment=83))), Row(employee_id=1026, dept_id=50, first_name='Hannah', middle_name='Xavier', last_name='Davis', phone_num=Row(country_code=1, area_code=702, exchange_code=225, subscriber_number=4239), email_id='hannah.davis@company.com', address=Row(street_name='820 Main St', unit_number='111', city='Austin', county='Austin County', state='TX', zip_code=73212, extended_zip_code=Row(sector=59, segment=50))), Row(employee_id=1027, dept_id=10, first_name='Diana', middle_name='Yancy', last_name='Miller', phone_num=Row(country_code=1, area_code=977, exchange_code=523, subscriber_number=9024), email_id='diana.miller@company.com', address=Row(street_name='904 Pine St', unit_number=None, city='Boston', county='Boston County', state='MA', zip_code=35225, extended_zip_code=Row(sector=29, segment=15))), Row(employee_id=1028, dept_id=10, first_name='Ivy', middle_name='Xavier', last_name='Wilson', phone_num=Row(country_code=1, area_code=379, exchange_code=510, subscriber_number=9368), email_id='ivy.wilson@company.com', address=Row(street_name='483 Main St', unit_number='107', city='New York', county='New York County', state='NY', zip_code=97060, extended_zip_code=Row(sector=29, segment=58))), Row(employee_id=1029, dept_id=40, first_name='Fiona', middle_name=None, last_name='Moore', phone_num=Row(country_code=1, area_code=702, exchange_code=352, subscriber_number=1255), email_id='fiona.moore@company.com', address=Row(street_name='792 Main St', unit_number='4', city='Austin', county='Austin County', state='TX', zip_code=90361, extended_zip_code=Row(sector=70, segment=49))), Row(employee_id=1030, dept_id=40, first_name='Fiona', middle_name='Xavier', last_name='Taylor', phone_num=Row(country_code=1, area_code=209, exchange_code=885, subscriber_number=4804), email_id='fiona.taylor@company.com', address=Row(street_name='412 Pine St', unit_number='87', city='Chicago', county='Chicago County', state='IL', zip_code=13424, extended_zip_code=Row(sector=60, segment=38))), Row(employee_id=1031, dept_id=40, first_name='Alice', middle_name='Xavier', last_name='Jones', phone_num=Row(country_code=1, area_code=896, exchange_code=226, subscriber_number=2018), email_id='alice.jones@company.com', address=Row(street_name='980 Main St', unit_number='31', city='Denver', county='Denver County', state='CO', zip_code=83909, extended_zip_code=Row(sector=12, segment=75))), Row(employee_id=1032, dept_id=10, first_name='George', middle_name='Yancy', last_name='Taylor', phone_num=Row(country_code=1, area_code=530, exchange_code=760, subscriber_number=6788), email_id='george.taylor@company.com', address=Row(street_name='943 Oak St', unit_number='136', city='Chicago', county='Chicago County', state='IL', zip_code=58701, extended_zip_code=Row(sector=32, segment=40))), Row(employee_id=1033, dept_id=20, first_name='Fiona', middle_name='Yancy', last_name='Williams', phone_num=Row(country_code=1, area_code=485, exchange_code=818, subscriber_number=4471), email_id='fiona.williams@company.com', address=Row(street_name='440 Oak St', unit_number=None, city='Denver', county='Denver County', state='CO', zip_code=44392, extended_zip_code=Row(sector=81, segment=44))), Row(employee_id=1034, dept_id=50, first_name='Diana', middle_name=None, last_name='Moore', phone_num=Row(country_code=1, area_code=475, exchange_code=672, subscriber_number=6345), email_id='diana.moore@company.com', address=Row(street_name='845 Main St', unit_number=None, city='Chicago', county='Chicago County', state='IL', zip_code=71769, extended_zip_code=Row(sector=25, segment=42))), Row(employee_id=1035, dept_id=30, first_name='Hannah', middle_name='Yancy', last_name='Anderson', phone_num=Row(country_code=1, area_code=812, exchange_code=902, subscriber_number=9622), email_id='hannah.anderson@company.com', address=Row(street_name='766 Main St', unit_number='155', city='New York', county='New York County', state='NY', zip_code=85658, extended_zip_code=Row(sector=65, segment=22))), Row(employee_id=1036, dept_id=40, first_name='Diana', middle_name='Yancy', last_name='Davis', phone_num=Row(country_code=1, area_code=968, exchange_code=855, subscriber_number=2632), email_id='diana.davis@company.com', address=Row(street_name='631 Main St', unit_number='3', city='Chicago', county='Chicago County', state='IL', zip_code=16343, extended_zip_code=Row(sector=84, segment=81))), Row(employee_id=1037, dept_id=10, first_name='Alice', middle_name=None, last_name='Smith', phone_num=Row(country_code=1, area_code=877, exchange_code=863, subscriber_number=6786), email_id='alice.smith@company.com', address=Row(street_name='415 Oak St', unit_number='43', city='New York', county='New York County', state='NY', zip_code=12192, extended_zip_code=Row(sector=84, segment=19))), Row(employee_id=1038, dept_id=50, first_name='Bob', middle_name='Xavier', last_name='Anderson', phone_num=Row(country_code=1, area_code=358, exchange_code=458, subscriber_number=9059), email_id='bob.anderson@company.com', address=Row(street_name='397 Oak St', unit_number='60', city='Seattle', county='Seattle County', state='WA', zip_code=23987, extended_zip_code=Row(sector=95, segment=69))), Row(employee_id=1039, dept_id=10, first_name='Ethan', middle_name='Xavier', last_name='Anderson', phone_num=Row(country_code=1, area_code=756, exchange_code=264, subscriber_number=4571), email_id='ethan.anderson@company.com', address=Row(street_name='563 Main St', unit_number='61', city='Denver', county='Denver County', state='CO', zip_code=71759, extended_zip_code=Row(sector=85, segment=73))), Row(employee_id=1040, dept_id=10, first_name='Jack', middle_name='Xavier', last_name='Anderson', phone_num=Row(country_code=1, area_code=859, exchange_code=530, subscriber_number=8761), email_id='jack.anderson@company.com', address=Row(street_name='398 Pine St', unit_number=None, city='Denver', county='Denver County', state='CO', zip_code=43667, extended_zip_code=Row(sector=36, segment=43))), Row(employee_id=1041, dept_id=50, first_name='Jack', middle_name=None, last_name='Smith', phone_num=Row(country_code=1, area_code=518, exchange_code=262, subscriber_number=6366), email_id='jack.smith@company.com', address=Row(street_name='881 Main St', unit_number='54', city='Seattle', county='Seattle County', state='WA', zip_code=62316, extended_zip_code=Row(sector=14, segment=57))), Row(employee_id=1042, dept_id=10, first_name='Charlie', middle_name='Xavier', last_name='Smith', phone_num=Row(country_code=1, area_code=880, exchange_code=486, subscriber_number=4096), email_id='charlie.smith@company.com', address=Row(street_name='599 Pine St', unit_number=None, city='Chicago', county='Chicago County', state='IL', zip_code=41991, extended_zip_code=Row(sector=13, segment=42))), Row(employee_id=1043, dept_id=30, first_name='Hannah', middle_name='Xavier', last_name='Brown', phone_num=Row(country_code=1, area_code=795, exchange_code=444, subscriber_number=6705), email_id='hannah.brown@company.com', address=Row(street_name='160 Pine St', unit_number=None, city='Chicago', county='Chicago County', state='IL', zip_code=23839, extended_zip_code=Row(sector=64, segment=17))), Row(employee_id=1044, dept_id=50, first_name='Jack', middle_name=None, last_name='Williams', phone_num=Row(country_code=1, area_code=825, exchange_code=546, subscriber_number=8709), email_id='jack.williams@company.com', address=Row(street_name='695 Oak St', unit_number=None, city='Boston', county='Boston County', state='MA', zip_code=91084, extended_zip_code=Row(sector=25, segment=59))), Row(employee_id=1045, dept_id=40, first_name='Charlie', middle_name=None, last_name='Williams', phone_num=Row(country_code=1, area_code=992, exchange_code=195, subscriber_number=1338), email_id='charlie.williams@company.com', address=Row(street_name='717 Pine St', unit_number='82', city='Denver', county='Denver County', state='CO', zip_code=22854, extended_zip_code=Row(sector=35, segment=82))), Row(employee_id=1046, dept_id=50, first_name='George', middle_name='Xavier', last_name='Moore', phone_num=Row(country_code=1, area_code=985, exchange_code=412, subscriber_number=9668), email_id='george.moore@company.com', address=Row(street_name='929 Pine St', unit_number=None, city='Seattle', county='Seattle County', state='WA', zip_code=33358, extended_zip_code=Row(sector=91, segment=96))), Row(employee_id=1047, dept_id=10, first_name='Alice', middle_name='Yancy', last_name='Williams', phone_num=Row(country_code=1, area_code=710, exchange_code=680, subscriber_number=9630), email_id='alice.williams@company.com', address=Row(street_name='922 Pine St', unit_number='128', city='Denver', county='Denver County', state='CO', zip_code=77644, extended_zip_code=Row(sector=69, segment=67))), Row(employee_id=1048, dept_id=50, first_name='Bob', middle_name='Yancy', last_name='Davis', phone_num=Row(country_code=1, area_code=705, exchange_code=635, subscriber_number=2625), email_id='bob.davis@company.com', address=Row(street_name='616 Main St', unit_number='29', city='Denver', county='Denver County', state='CO', zip_code=17099, extended_zip_code=Row(sector=38, segment=71))), Row(employee_id=1049, dept_id=30, first_name='Fiona', middle_name='Xavier', last_name='Davis', phone_num=Row(country_code=1, area_code=402, exchange_code=484, subscriber_number=5928), email_id='fiona.davis@company.com', address=Row(street_name='935 Oak St', unit_number=None, city='Denver', county='Denver County', state='CO', zip_code=48794, extended_zip_code=Row(sector=96, segment=22))), Row(employee_id=1050, dept_id=40, first_name='Diana', middle_name='Yancy', last_name='Davis', phone_num=Row(country_code=1, area_code=935, exchange_code=435, subscriber_number=7124), email_id='diana.davis@company.com', address=Row(street_name='390 Pine St', unit_number='21', city='Seattle', county='Seattle County', state='WA', zip_code=62048, extended_zip_code=Row(sector=16, segment=28))), Row(employee_id=1051, dept_id=20, first_name='Charlie', middle_name='Yancy', last_name='Taylor', phone_num=Row(country_code=1, area_code=518, exchange_code=119, subscriber_number=8051), email_id='charlie.taylor@company.com', address=Row(street_name='539 Oak St', unit_number=None, city='Seattle', county='Seattle County', state='WA', zip_code=92857, ex

In [32]:
df_employee = spark.createDataFrame(employee_data, schema=employee_schema)

df_employee.show()

+-----------+-------+----------+-----------+---------+-------------------+--------------------+--------------------+
|employee_id|dept_id|first_name|middle_name|last_name|          phone_num|            email_id|             address|
+-----------+-------+----------+-----------+---------+-------------------+--------------------+--------------------+
|       1001|     30|     Diana|     Xavier|   Taylor|{1, 527, 318, 9046}|diana.taylor@comp...|{843 Pine St, NUL...|
|       1002|     50|     Ethan|      Yancy|   Wilson|{1, 319, 375, 4104}|ethan.wilson@comp...|{694 Pine St, 4, ...|
|       1003|     40|    George|      Yancy|    Smith|{1, 454, 504, 2259}|george.smith@comp...|{561 Main St, 25,...|
|       1004|     10|       Bob|      Yancy| Williams|{1, 205, 339, 6275}|bob.williams@comp...|{827 Oak St, 166,...|
|       1005|     40|     Fiona|       NULL|    Davis|{1, 703, 719, 1300}|fiona.davis@compa...|{162 Main St, 24,...|
|       1006|     30|       Bob|      Yancy|    Moore|{1, 773, 861, 2637}|bob.moore@company...|{456 Oak St, NULL...|
|       1007|     20|       Bob|     Xavier|    Smith|{1, 293, 884, 8648}|bob.smith@company...|{590 Oak St, 122,...|
|       1008|     50|     Ethan|      Yancy|   Taylor|{1, 858, 295, 1700}|ethan.taylor@comp...|{263 Pine St, 3, ...|
|       1009|     10|       Ivy|     Xavier|    Davis|{1, 268, 360, 2845}|ivy.davis@company...|{651 Oak St, 70, ...|
|       1010|     10|       Bob|      Yancy|    Davis|{1, 360, 570, 2918}|bob.davis@company...|{367 Pine St, 24,...|
|       1011|     40|    George|     Xavier|    Brown|{1, 279, 619, 8648}|george.brown@comp...|{656 Pine St, 46,...|
|       1012|     30|       Bob|      Yancy|    Brown|{1, 462, 389, 6237}|bob.brown@company...|{564 Main St, NUL...|
|       1013|     30|    Hannah|       NULL|    Brown|{1, 321, 686, 7273}|hannah.brown@comp...|{412 Pine St, NUL...|
|       1014|     10|       Ivy|      Yancy|   Wilson|{1, 684, 440, 5673}|ivy.wilson@compan...|{345 Pine St, 77,...|
|       1015|     50|    Hannah|      Yancy|    Brown|{1, 400, 981, 2699}|hannah.brown@comp...|{386 Pine St, NUL...|
|       1016|     30|       Ivy|      Yancy|    Smith|{1, 293, 212, 2855}|ivy.smith@company...|{729 Pine St, 133...|
|       1017|     20|       Ivy|      Yancy|   Taylor|{1, 872, 795, 2381}|ivy.taylor@compan...|{511 Oak St, 55, ...|
|       1018|     50|     Fiona|       NULL|   Taylor|{1, 762, 752, 5284}|fiona.taylor@comp...|{444 Main St, NUL...|
|       1019|     10|       Bob|     Xavier|    Smith|{1, 789, 266, 7878}|bob.smith@company...|{994 Oak St, NULL...|
|       1020|     30|       Ivy|       NULL|    Jones|{1, 523, 145, 8165}|ivy.jones@company...|{654 Pine St, NUL...|
+-----------+-------+----------+-----------+---------+-------------------+--------------------+--------------------+
only showing top 20 rows

In [33]:
df_department = spark.createDataFrame(dept_data, schema=dept_schema)

df_department.show()

+-------+-----------+----------------+--------------------+
|dept_id|  dept_name|dept_head_emp_id|         loc_address|
+-------+-----------+----------------+--------------------+
|     10|Engineering|            1010|{732 Oak St, 37, ...|
|     20|      Sales|            1020|{647 Pine St, 139...|
|     30|         HR|            1030|{558 Main St, 60,...|
|     40|    Finance|            1040|{812 Main St, 127...|
|     50|  Marketing|            1050|{236 Oak St, 89, ...|
+-------+-----------+----------------+--------------------+

In [34]:
df_employee.filter(col("employee_id") == 1010).show()

+-----------+-------+----------+-----------+---------+-------------------+--------------------+--------------------+
|employee_id|dept_id|first_name|middle_name|last_name|          phone_num|            email_id|             address|
+-----------+-------+----------+-----------+---------+-------------------+--------------------+--------------------+
|       1010|     10|       Bob|      Yancy|    Davis|{1, 360, 570, 2918}|bob.davis@company...|{367 Pine St, 24,...|
+-----------+-------+----------+-----------+---------+-------------------+--------------------+--------------------+

In [35]:
df_employee.alias("e").join(df_department.alias("d"), on=(col("e.employee_id") == col("d.dept_head_emp_id")), how="inner").select(col("e.employee_id")).show()

+-----------+
|employee_id|
+-----------+
|       1010|
|       1020|
|       1030|
|       1040|
|       1050|
+-----------+

In [39]:
df_employee.write.csv("emp.csv")

UnsupportedOperationException: getSubject is not supported

In [38]:
configs = spark.sparkContext.getConf().getAll()

for key, value in configs:
    # Use the second line if you used spark.conf.getAll() which returns a dictionary:
    # for key, value in configs.items():
    
    # We are specifically looking for file system and security configs
    if 'fs.' in key or 'security' in key or 'impl' in key:
        print(f"** {key}: {value} **")
    else:
        print(f"{key}: {value}")

spark.app.id: local-1767492962386
spark.rdd.compress: True
** spark.hadoop.fs.s3a.vectored.read.min.seek.size: 128K **
spark.app.name: Employee Analysis
spark.app.submitTime: 1767492961148
spark.sql.artifact.isolation.enabled: false
spark.executor.extraJavaOptions: -Djava.net.preferIPv6Addresses=false -XX:+IgnoreUnrecognizedVMOptions --add-modules=jdk.incubator.vector --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/jdk.internal.ref=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED -Djdk.reflect.useDirectMethodHandle=false -Dio.netty.tryReflectionSetAccessible=true -Dio.netty.allocator.type=pooled -Dio.netty.handler.ssl.defaultEndpointVerificationAlgorithm=NONE --enable-native-access=ALL-UNNAMED
spark.driver.port: 57820
spark.master: local[*]
spark.app.startTime: 1767492961688
spark.driver.extraJavaOptions: -Djava.net.preferIPv6Addresses=false -XX:+IgnoreUnrecognizedVMOptions --add-modules=jdk.incubator.vector --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/jdk.internal.ref=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED -Djdk.reflect.useDirectMethodHandle=false -Dio.netty.tryReflectionSetAccessible=true -Dio.netty.allocator.type=pooled -Dio.netty.handler.ssl.defaultEndpointVerificationAlgorithm=NONE --enable-native-access=ALL-UNNAMED
spark.executor.id: driver
spark.submit.pyFiles:
** spark.hadoop.fs.s3a.vectored.read.max.merged.size: 2M **
spark.sql.warehouse.dir: file:/Users/pulastyanarainpandey/Documents/pyspark-practice/spark-warehouse
spark.submit.deployMode: client
spark.driver.host: 10.0.0.159
spark.serializer.objectStreamReset: 100
spark.ui.showConsoleProgress: true

In [36]:
# spark.stop()