In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, explode
spark = SparkSession.builder.appName("Spark SQL Example").getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
26/02/18 16:39:44 WARN Utils: Your hostname, Pulastyas-Mac-mini.local, resolves to a loopback address: 127.0.0.1; using 10.0.0.133 instead (on interface en1)
26/02/18 16:39:44 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
26/02/18 16:39:44 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
26/02/18 16:39:45 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [2]:
data = [(1, ["apple", "banana"]), (2, ["orange"]), (3, [])]
df = spark.createDataFrame(data, ["id", "fruits"])

df.show()

+---+---------------+
| id|         fruits|
+---+---------------+
|  1|[apple, banana]|
|  2|       [orange]|
|  3|             []|
+---+---------------+

In [3]:
df.select("id", explode("fruits").alias("fruit")).show()

+---+------+
| id| fruit|
+---+------+
|  1| apple|
|  1|banana|
|  2|orange|
+---+------+