In [13]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
spark = SparkSession.builder.appName("Spark SQL Example").getOrCreate()

In [4]:
df_orders = spark.read.csv("data/input/orders.csv", header=True, inferSchema=True, sep="|")
df_orders.show(5)

+---------+---------+--------------------+--------+-----------+---------+----------+--------------+
|invoiceno|stockcode|         description|quantity|invoicedate|unitprice|customerid|       country|
+---------+---------+--------------------+--------+-----------+---------+----------+--------------+
|   544586|    21890|S/6 WOODEN SKITTL...|       3| 2011-02-21|     2.95|     17338|United Kingdom|
|   541104|   84509G|SET OF 4 FAIRY CA...|       3| 2011-01-13|     3.29|      NULL|United Kingdom|
|   560772|    22499|WOODEN UNION JACK...|       3| 2011-07-20|     4.96|      NULL|United Kingdom|
|   555150|    22488|NATURAL SLATE REC...|       5| 2011-05-31|     3.29|      NULL|United Kingdom|
|   570521|    21625|VINTAGE UNION JAC...|       3| 2011-10-11|     6.95|     12371|   Switzerland|
+---------+---------+--------------------+--------+-----------+---------+----------+--------------+
only showing top 5 rows

In [18]:
df_orders.select((col("invoiceno") + 2).alias("newinvoiceno"), col("country")).show(5)

+------------+--------------+
|newinvoiceno|       country|
+------------+--------------+
|      544588|United Kingdom|
|      541106|United Kingdom|
|      560774|United Kingdom|
|      555152|United Kingdom|
|      570523|   Switzerland|
+------------+--------------+
only showing top 5 rows

In [ ]:
df_orders.selectExpr("invoiceno + 2", "country as country_name").show(5)

+---------------+--------------+
|(invoiceno + 2)|  country_name|
+---------------+--------------+
|         544588|United Kingdom|
|         541106|United Kingdom|
|         560774|United Kingdom|
|         555152|United Kingdom|
|         570523|   Switzerland|
+---------------+--------------+
only showing top 5 rows